@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.spinner {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner::before,
.spinner::after {
  border: 6.7px solid #dcd2c9;
  border-radius: 50%;
  position: absolute;
  content: "";
  display: block;
}

.spinner::before {
  width: 33.6px;
  height: 33.6px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: spinner-1o3y8q 0.75s infinite linear reverse;
}

.spinner::after {
  animation: spinner-1o3y8q 0.5s infinite linear;
  height: 56px;
  width: 56px;
  border-right-color: transparent;
  border-top-color: transparent;
}

@keyframes spinner-1o3y8q {
  to {
    transform: rotate(360deg);
  }
}

body {
  overflow-x: hidden;
}

.ql-editor p {
  line-height: 2;
  font-size: 18px;
}
.ql-editor li {
  line-height: 2;
  font-size: 18px;
}

#like[wobble="1"] {
  animation: wobble 1s linear;
}
#star[wobble="1"] {
  animation: star 1s linear;
}

@keyframes wobble {
  25% {
    @apply scale-90 
    /* transform: rotate(-15deg); */;
  }

  50% {
    @apply scale-95
    /* transform: rotate(-15deg); */
    /* transform: translateY(-0.5rem); */;
  }

  100% {
    @apply scale-100
    /* transform: rotate(0deg); */
    /* transform: translateY(-0.5rem); */;
  }
}
@keyframes star {
  0% {
    transform: translateY(0px);
    opacity: 0.8;
    scale: 1;
  }
  50% {
    transform: translateY(-13px);
    opacity: 0.6;
    scale: 0.8;
  }
  100% {
    transform: translateY(-17px);
    opacity: 0.1;
    scale: 0.6;
  }
}

/* .hero-carousel {
  @apply relative h-screen w-full sm:mx-auto;
} 

.carousel{
  @apply h-screen w-full relative
}

.carousel .control-dots .dot {
  @apply  bg-transparent !important;
} */

.carousel {
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 1300px) {
  .carousel {
    max-width: 700px;
  }
}

@media (min-width: 1500px) {
  .carousel {
    max-width: 800px;
  }
}
@media (min-width: 1600px) {
  .carousel {
    max-width: 900px;
  }
}

.layout-size {
  max-width: 90%;
}
@media (min-width: 2000px) {
  .layout-size {
    max-width: 1500px;
  }
}
